<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="General">

	<listeners>
		<listener class-name="com.shaffan.listeners.TestListener" />
		<listener
			class-name="com.shaffan.listeners.AnnotationTransformer" />
	</listeners>
	<test name="Login Functionality Tests">
		<classes>
			<class name="com.shaffan.tests.LoginTest">
				<methods>
					<include name="testLoginWithInvalidCreds" />
				</methods>
			</class>
			
		</classes>
	</test>
</suite>
